<div class="container mt-3 read-container">
  <div class=" publish-date fs-5 mt-5"><span>Published At:- </span> <%= blog.postedAt%></div>
  <div class="heading-text">
    <h2> <span>Title:- </span><%= blog.title%></h2>
  </div>
  <div class="text-content">
      <h4 >Blog:- </h4>
  <p class="mt-3"><%= blog.content%></p>
</div>
</div>
